#main-section {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

#section-four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}