.section-one-wrapper,
.section-one,
.header-wrapper,
.header-options {
    width: 100vw;
    max-height: 80px;
    min-height: 80px;
    margin-bottom: 2rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.header-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* logo  */

#header-logo {
    max-width: 150px;
    max-height: 80px;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-logo .logo {
    width: 100%;
    height: 100%;
}

/* menu  */

#navbar {
    display: flex;
}

#navbar .nav-links {
    margin-right: 3rem;
}

#navbar a {
    text-decoration: none;
    color: #0F1E33;
    transition: color 0.2s ease;
}

#navbar a:hover {
    color: #0950BA;
}


/* login button  */

#header-login-btn {
    font-size: 16px;
    font-family: 'Helvetica Neue', sans-serif;
    width: 110px;
    min-height: 45px;
    max-height: 45px;
    cursor: pointer;
    background-color: #0950bade;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

#header-login-btn:hover {
    background-color: #0950BA;
}